In [214]:
import pandas as pd
import numpy as np


training = pd.read_csv("training.csv", encoding='cp1252')

test = pd.read_csv("test.csv", encoding='cp1252')


training.head()
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6662 entries, 0 to 6661
Data columns (total 37 columns):
OBS_ID                   6662 non-null int64
KANAL                    6662 non-null object
SHOW_ID                  6662 non-null int64
SHOW_DATUM               6662 non-null object
FAKTOR                   6662 non-null object
WORDING_ID               6662 non-null int64
BRAND_FLG                6662 non-null int64
BRAND_ID                 4414 non-null float64
WDHL_FLG                 6662 non-null int64
BESTELL_ID               6662 non-null int64
ARTIKEL_ID               6662 non-null int64
SHOW_POSITION            6662 non-null int64
NEW_ITEM_FLG             6662 non-null int64
AIRING_23_FLG            6662 non-null int64
AIRING_456_FLG           6662 non-null int64
ADT_FLG                  6662 non-null int64
WG_ID                    6662 non-null int64
WGH1_ID                  6662 non-null int64
WGH3_ID                  6662 non-null int64
WGH4_ID                  6662 non-null int64
PREIS_DISCOUNT           3640 non-null object
ANZ_ARTIKEL_ID           6662 non-null int64
ONAIR_SEKUNDEN           6662 non-null int64
MENGE_CALL               5310 non-null float64
MENGE_ECOM               5739 non-null float64
WG_DESC                  6662 non-null object
WGH1_DESC                6662 non-null object
WGH3_DESC                6662 non-null object
WGH4_DESC                6662 non-null object
DIVISION_DESC_SORT       6662 non-null object
PREISKLASSE_DESC         6662 non-null object
PREIS_LABEL_DESC         3523 non-null object
FARBE                    6662 non-null object
GROESSE                  6483 non-null object
MENGE_FREI_SHOWBEGINN    6662 non-null int64
BEWERTUNG                1738 non-null object
SOLD_OUT_FLG             6662 non-null int64
dtypes: float64(3), int64(20), object(14)
memory usage: 1.9+ MB

In [215]:


frames = [test, training]
result = pd.concat(frames)
len(result) - len(training)

1003

In [216]:
result.drop(['DIVISION_DESC_SORT','WGH4_DESC'],axis=1,inplace=True)

In [217]:
result["FAKTOR"] = result["FAKTOR"].str.replace(',', ".").astype(float)

In [218]:
result["KANAL"] = result["KANAL"].astype('category')
result.dtypes
result["KANAL"] = result["KANAL"].cat.codes
result["KANAL"] = result["KANAL"].astype('category')

In [219]:
result['BRAND_ID'].fillna(0,inplace=True)

In [220]:
# convert PREIS_DISCOUNT into float and fill NaN with zeros
result["PREIS_DISCOUNT"] = result["PREIS_DISCOUNT"].str.replace(',', ".").astype(float)
result['PREIS_DISCOUNT'] = result['PREIS_DISCOUNT'].fillna(0)

In [221]:
result.drop(['BEWERTUNG'],axis=1,inplace=True)

In [222]:
result['MENGE_CALL'] = result['MENGE_CALL'].fillna(0)
result['MENGE_ECOM'] = result['MENGE_ECOM'].fillna(0)

In [223]:
result['TOTAL_AMOUNT']=result['MENGE_CALL']+result['MENGE_ECOM']
result['PERCENTAGE']=result['TOTAL_AMOUNT']/result['MENGE_FREI_SHOWBEGINN']

In [224]:
result["WG_DESC"] = result["WG_DESC"].astype('category')
result["WG_DESC"] = result["WG_DESC"].cat.codes
result["WG_DESC"] = result["WG_DESC"].astype('category')

In [225]:
result["WGH1_DESC"] = result["WGH1_DESC"].astype('category')
result["WGH1_DESC"] = result["WGH1_DESC"].cat.codes
result["WGH1_DESC"] = result["WGH1_DESC"].astype('category')

In [226]:
result["WGH3_DESC"] = result["WGH3_DESC"].astype('category')
result["WGH3_DESC"] = result["WGH3_DESC"].cat.codes
result["WGH3_DESC"] = result["WGH3_DESC"].astype('category')

In [227]:
result['PREISKLASSE_DESC']=result['PREISKLASSE_DESC'].str[:2]
result['PREISKLASSE_DESC']=result['PREISKLASSE_DESC'].astype('int')

In [228]:
result['PREIS_LABEL_DESC'] = result['PREIS_LABEL_DESC'].fillna(0)
result["PREIS_LABEL_DESC"]= result["PREIS_LABEL_DESC"].astype('category')
result['PREIS_LABEL_DESC'] = result['PREIS_LABEL_DESC'].cat.codes
result["PREIS_LABEL_DESC"]= result["PREIS_LABEL_DESC"].astype('category')
result["PREIS_LABEL_DESC"]

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      2
11      2
12      2
13      2
14      2
15      0
16      0
17      0
18      0
19      0
20      0
21      3
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
6632    0
6633    0
6634    0
6635    0
6636    0
6637    3
6638    3
6639    3
6640    3
6641    3
6642    3
6643    3
6644    3
6645    3
6646    3
6647    3
6648    3
6649    3
6650    3
6651    3
6652    3
6653    3
6654    3
6655    3
6656    3
6657    3
6658    3
6659    3
6660    3
6661    3
Name: PREIS_LABEL_DESC, Length: 7665, dtype: category
Categories (6, int64): [0, 1, 2, 3, 4, 5]

In [229]:
result["FARBE"] = result["FARBE"].astype('category')
result["FARBE"] = result["FARBE"].cat.codes
result["FARBE"]= result["FARBE"].astype('category')
result["FARBE"]

0        86
1        86
2        54
3        86
4        98
5        98
6        13
7        13
8        13
9        13
10        1
11       61
12       61
13       86
14       86
15       79
16       79
17       79
18       79
19       61
20        7
21      102
22       90
23        5
24       86
25       94
26       34
27       54
28       54
29       90
       ...
6632      7
6633      7
6634      7
6635      7
6636      7
6637      3
6638      3
6639      3
6640      3
6641      3
6642      3
6643      3
6644      3
6645      3
6646     86
6647     86
6648     86
6649     86
6650     86
6651     86
6652     86
6653     98
6654     98
6655     98
6656     98
6657     98
6658     98
6659     98
6660     98
6661     98
Name: FARBE, Length: 7665, dtype: category
Categories (105, int64): [0, 1, 2, 3, ..., 101, 102, 103, 104]

In [230]:
result['SHOW_DATUM']=pd.to_datetime(result['SHOW_DATUM'])
result['DAY_OF_WEEK'] = result['SHOW_DATUM'].dt.day_name()
result["DAY_OF_WEEK"] = result["DAY_OF_WEEK"].astype('category')
result["DAY_OF_WEEK"] = result["DAY_OF_WEEK"].cat.codes
result["DAY_OF_WEEK"] = result["DAY_OF_WEEK"].astype('category')

def from_hour_to_time_slot(x):
    if 7 <= x < 9:
        return "MORNING TIME"
    elif 9 <= x <17:
        return "DAYTIME"
    elif 17 <= x < 20:
        return "EARLY PRIME TIME"
    elif 20 <= x < 23:
        return "PRIME TIME"
    elif 1 <= x < 7:
        return "LATE NIGHT"
    else:
        return "LATE PRIME TIME"

result['Hour_of_the_day'] = result['SHOW_DATUM'].dt.hour
result.Hour_of_the_day = result.Hour_of_the_day.map(from_hour_to_time_slot)
result.Hour_of_the_day.unique()
result["Hour_of_the_day"] = result["Hour_of_the_day"].astype('category')
result["Hour_of_the_day"] = result["Hour_of_the_day"].cat.codes
result["Hour_of_the_day"] = result["Hour_of_the_day"].astype('category')

result.drop(['SHOW_DATUM'],axis=1,inplace=True)
result.drop(['WGH4_ID'],axis=1,inplace=True)

In [231]:

# DATE and WEEKDAY
result['SHOW_DATUM']=pd.to_datetime(training['SHOW_DATUM'])
result['DAY_OF_WEEK'] = result['SHOW_DATUM'].dt.day_name()
result["DAY_OF_WEEK"].replace(['Monday'],1,inplace=True)
result["DAY_OF_WEEK"].replace(['Tuesday'],2,inplace=True)
result["DAY_OF_WEEK"].replace(['Wednesday'],3,inplace=True)
result["DAY_OF_WEEK"].replace(['Thursday'],4,inplace=True)
result["DAY_OF_WEEK"].replace(['Friday'],5,inplace=True)
result["DAY_OF_WEEK"].replace(['Saturday'],6,inplace=True)
result["DAY_OF_WEEK"].replace(['Sunday'],7,inplace=True)

In [232]:
# convert GROESSE into category variable, fill NaN with zero and merge certain data

result['GROESSE'] = result['GROESSE'].fillna(0)
result['GROESSE'].replace('ONESIZE','ONE SIZE',inplace=True)
result['GROESSE'].replace('A',0,inplace=True)
result['GROESSE'].replace('B',0,inplace=True)

result["GROESSE"] = result["GROESSE"].astype('category')
result["GROESSE"]

0       34
1       46
2       44
3       48
4       36
5       48
6       36
7       38
8       40
9       44
10      40
11      26
12      34
13      22
14      23
15      34
16      36
17      44
18      50
19      46
20      34
21      44
22      42
23      36
24      46
25      48
26      46
27      36
28      38
29      38
        ..
6632    40
6633    42
6634    44
6635    46
6636    48
6637    34
6638    36
6639    40
6640    42
6641    44
6642    46
6643    48
6644    50
6645    52
6646    36
6647    38
6648    40
6649    42
6650    44
6651    46
6652    50
6653    34
6654    36
6655    38
6656    40
6657    42
6658    44
6659    46
6660    50
6661    52
Name: GROESSE, Length: 7665, dtype: category
Categories (49, object): [0, 17, 18, 185, ..., ONE SIZE, S, XL, XXL]

In [233]:
result['NEW_ITEM_FLG'].fillna(0,inplace=True)
result['AIRING_23_FLG'].fillna(0,inplace=True)
result['AIRING_456_FLG'].fillna(0,inplace=True)
result['AIRING_23_FLG'].replace(1,2,inplace=True)
result['AIRING_456_FLG'].replace(1,4,inplace=True)
result['AIRING']=result['NEW_ITEM_FLG']+result['AIRING_23_FLG']+result['AIRING_456_FLG']


result["AIRING"] = result["AIRING"].astype('category')
result["AIRING"] = result["AIRING"].cat.codes
result["AIRING"] = result["AIRING"].astype('category')



result["ADT_FLG"] = result["ADT_FLG"].astype('category')
result["ADT_FLG"] = result["ADT_FLG"].cat.codes
result["ADT_FLG"] = result["ADT_FLG"].astype('category')

In [234]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7665 entries, 0 to 6661
Data columns (total 38 columns):
OBS_ID                   7665 non-null int64
KANAL                    7665 non-null category
SHOW_ID                  7665 non-null int64
FAKTOR                   7665 non-null float64
WORDING_ID               7665 non-null int64
BRAND_FLG                7665 non-null int64
BRAND_ID                 7665 non-null float64
WDHL_FLG                 7665 non-null int64
BESTELL_ID               7665 non-null int64
ARTIKEL_ID               7665 non-null int64
SHOW_POSITION            7665 non-null int64
NEW_ITEM_FLG             7665 non-null int64
AIRING_23_FLG            7665 non-null int64
AIRING_456_FLG           7665 non-null int64
ADT_FLG                  7665 non-null category
WG_ID                    7665 non-null int64
WGH1_ID                  7665 non-null int64
WGH3_ID                  7665 non-null int64
PREIS_DISCOUNT           7665 non-null float64
ANZ_ARTIKEL_ID           7665 non-null int64
ONAIR_SEKUNDEN           7665 non-null int64
MENGE_CALL               7665 non-null float64
MENGE_ECOM               7665 non-null float64
WG_DESC                  7665 non-null category
WGH1_DESC                7665 non-null category
WGH3_DESC                7665 non-null category
PREISKLASSE_DESC         7665 non-null int32
PREIS_LABEL_DESC         7665 non-null category
FARBE                    7665 non-null category
GROESSE                  7665 non-null category
MENGE_FREI_SHOWBEGINN    7665 non-null int64
SOLD_OUT_FLG             6662 non-null float64
TOTAL_AMOUNT             7665 non-null float64
PERCENTAGE               7665 non-null float64
DAY_OF_WEEK              7665 non-null int64
Hour_of_the_day          7665 non-null category
SHOW_DATUM               7665 non-null datetime64[ns]
AIRING                   7665 non-null category
dtypes: category(10), datetime64[ns](1), float64(8), int32(1), int64(18)
memory usage: 1.8 MB

In [235]:
test = result[result["OBS_ID"]<=1003].copy()
training = result[result["OBS_ID"]> 1003].copy()

In [236]:
training

,OBS_ID,KANAL,SHOW_ID,FAKTOR,WORDING_ID,BRAND_FLG,BRAND_ID,WDHL_FLG,BESTELL_ID,ARTIKEL_ID,...,FARBE,GROESSE,MENGE_FREI_SHOWBEGINN,SOLD_OUT_FLG,TOTAL_AMOUNT,PERCENTAGE,DAY_OF_WEEK,Hour_of_the_day,SHOW_DATUM,AIRING
0,235691,1,370117,1.0,25802,1,12.0,1,399879,399879002,...,86,0,7,1.0,0.0,0.000000,7,1,2017-07-30 19:00:00,0
1,235692,1,372896,1.0,34013,0,0.0,0,399890,399890002,...,86,36,8,1.0,8.0,1.000000,6,0,2017-04-08 09:00:00,1
2,235693,1,372896,1.0,34013,0,0.0,0,399890,399890003,...,86,38,23,1.0,21.0,0.913043,6,0,2017-04-08 09:00:00,1
3,235694,1,372896,1.0,34013,0,0.0,0,399890,399890004,...,86,40,39,0.0,16.0,0.410256,6,0,2017-04-08 09:00:00,1
4,235695,1,372896,1.0,34013,0,0.0,0,399890,399890005,...,86,42,44,0.0,22.0,0.500000,6,0,2017-04-08 09:00:00,1
5,235696,1,372896,1.0,34013,0,0.0,0,399890,399890006,...,86,44,41,0.0,15.0,0.365854,6,0,2017-04-08 09:00:00,1
6,235697,1,372896,1.0,34013,0,0.0,0,399890,399890007,...,86,46,39,0.0,19.0,0.487179,6,0,2017-04-08 09:00:00,1
7,235698,1,372896,1.0,34013,0,0.0,0,399890,399890008,...,86,48,33,0.0,14.0,0.424242,6,0,2017-04-08 09:00:00,1
8,235699,1,372896,1.0,34013,0,0.0,0,399890,399890009,...,86,50,21,0.0,11.0,0.523810,6,0,2017-04-08 09:00:00,1
9,235700,1,372896,1.0,34013,0,0.0,0,399890,399890010,...,86,52,13,0.0,0.0,0.000000,6,0,2017-04-08 09:00:00,1
10,235701,1,372896,1.0,34013,0,0.0,0,399890,399890011,...,86,54,14,0.0,0.0,0.000000,6,0,2017-04-08 09:00:00,1
11,235702,0,371999,1.3,25637,1,12.0,0,399272,399272001,...,86,34,7,1.0,0.0,0.000000,5,3,2017-12-08 23:00:00,2
12,235703,0,371999,1.3,25637,1,12.0,0,399272,399272002,...,86,36,8,1.0,7.0,0.875000,5,3,2017-12-08 23:00:00,2
13,235704,0,371999,1.3,25637,1,12.0,0,399272,399272003,...,86,38,48,0.0,9.0,0.187500,5,3,2017-12-08 23:00:00,2
14,235705,0,371999,1.3,25637,1,12.0,0,399272,399272004,...,86,40,59,0.0,19.0,0.322034,5,3,2017-12-08 23:00:00,2
15,235706,0,371999,1.3,25637,1,12.0,0,399272,399272005,...,86,42,78,0.0,11.0,0.141026,5,3,2017-12-08 23:00:00,2
16,235707,0,371999,1.3,25637,1,12.0,0,399272,399272006,...,86,44,69,0.0,10.0,0.144928,5,3,2017-12-08 23:00:00,2
17,235708,0,371999,1.3,25637,1,12.0,0,399272,399272008,...,86,48,51,0.0,16.0,0.313725,5,3,2017-12-08 23:00:00,2
18,235709,0,371999,1.3,25637,1,12.0,0,399272,399272009,...,54,34,8,1.0,0.0,0.000000,5,3,2017-12-08 23:00:00,2
19,235710,0,371999,1.3,25637,1,12.0,0,399272,399272010,...,54,36,8,1.0,8.0,1.000000,5,3,2017-12-08 23:00:00,2
20,235711,0,371999,1.3,25637,1,12.0,0,399272,399272011,...,54,38,46,0.0,27.0,0.586957,5,3,2017-12-08 23:00:00,2
21,235712,0,371999,1.3,25637,1,12.0,0,399272,399272012,...,54,40,57,0.0,27.0,0.473684,5,3,2017-12-08 23:00:00,2
22,235713,0,371999,1.3,25637,1,12.0,0,399272,399272013,...,54,42,78,0.0,21.0,0.269231,5,3,2017-12-08 23:00:00,2
23,235714,0,371999,1.3,25637,1,12.0,0,399272,399272015,...,54,46,58,0.0,10.0,0.172414,5,3,2017-12-08 23:00:00,2
24,235715,0,371999,1.3,25637,1,12.0,0,399272,399272016,...,54,48,54,0.0,10.0,0.185185,5,3,2017-12-08 23:00:00,2
25,235716,0,371999,1.3,25637,1,12.0,0,399687,399687001,...,86,34,12,0.0,0.0,0.000000,5,3,2017-12-08 23:00:00,1
26,235717,0,371999,1.3,25637,1,12.0,0,399687,399687002,...,86,36,16,0.0,0.0,0.000000,5,3,2017-12-08 23:00:00,1
27,235718,0,371999,1.3,25637,1,12.0,0,399687,399687003,...,86,38,47,0.0,15.0,0.319149,5,3,2017-12-08 23:00:00,1
28,235719,0,371999,1.3,25637,1,12.0,0,399687,399687004,...,86,40,67,0.0,7.0,0.104478,5,3,2017-12-08 23:00:00,1
29,235720,0,371999,1.3,25637,1,12.0,0,399687,399687005,...,86,42,82,0.0,24.0,0.292683,5,3,2017-12-08 23:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6632,242323,0,418207,1.4,35242,0,0.0,0,414345,414345003,...,7,40,23,1.0,22.0,0.956522,5,0,2018-09-21 16:00:00,2
6633,242324,0,418207,1.4,35242,0,0.0,0,414345,414345004,...,7,42,31,1.0,32.0,1.032258,5,0,2018-09-21 16:00:00,2
6634,242325,0,418207,1.4,35242,0,0.0,0,414345,414345005,...,7,44,50,0.0,27.0,0.540000,5,0,2018-09-21 16:00:00,2
6635,242326,0,418207,1.4,35242,0,0.0,0,414345,414345006,...,7,46,66,0.0,24.0,0.363636,5,0,2018-09-21 16:00:00,2
6636,242327,0,418207,1.4,35242,0,0.0,0,414345,414345007,...,7,48,39,0.0,17.0,0.435897,5,0,2018-09-21 16:00:00,2
6637,242328,0,418370,1.7,26517,1,18.0,0,412026,412026001,...,3,34,18,0.0,0.0,0.000000,7,5,2018-09-30 20:00:00,0
6638,242329,0,418370,1.7,26517,1,18.0,0,412026,412026002,...,3,36,21,0.0,0.0,0.000000,7,5,2018-09-30 20:00:00,0
6639,242330,0,418370,1.7,26517,1,18.0,0,412026,412026004,...,3,40,53,0.0,21.0,0.396226,7,5,2018-09-30 20:00:00,0
6640,242331,0,418370,1.7,26517,1,18.0,0,412026,412026005,...,3,42,71,0.0,32.0,0.450704,7,5,2018-09-30 20:00:00,0
6641,242332,0,418370,1.7,26517,1,18.0,0,412026,412026006,...,3,44,75,0.0,24.0,0.320000,7,5,2018-09-30 20:00:00,0
6642,242333,0,418370,1.7,26517,1,18.0,0,412026,412026007,...,3,46,25,1.0,24.0,0.960000,7,5,2018-09-30 20:00:00,0
6643,242334,0,418370,1.7,26517,1,18.0,0,412026,412026008,...,3,48,22,1.0,24.0,1.090909,7,5,2018-09-30 20:00:00,0
6644,242335,0,418370,1.7,26517,1,18.0,0,412026,412026009,...,3,50,29,0.0,17.0,0.586207,7,5,2018-09-30 20:00:00,0
6645,242336,0,418370,1.7,26517,1,18.0,0,412026,412026010,...,3,52,14,1.0,15.0,1.071429,7,5,2018-09-30 20:00:00,0
6646,242337,0,418370,1.7,26517,1,18.0,0,412026,412026012,...,86,36,18,0.0,0.0,0.000000,7,5,2018-09-30 20:00:00,0
6647,242338,0,418370,1.7,26517,1,18.0,0,412026,412026013,...,86,38,37,0.0,0.0,0.000000,7,5,2018-09-30 20:00:00,0
6648,242339,0,418370,1.7,26517,1,18.0,0,412026,412026014,...,86,40,80,0.0,7.0,0.087500,7,5,2018-09-30 20:00:00,0
6649,242340,0,418370,1.7,26517,1,18.0,0,412026,412026015,...,86,42,97,0.0,17.0,0.175258,7,5,2018-09-30 20:00:00,0
6650,242341,0,418370,1.7,26517,1,18.0,0,412026,412026016,...,86,44,91,0.0,11.0,0.120879,7,5,2018-09-30 20:00:00,0
6651,242342,0,418370,1.7,26517,1,18.0,0,412026,412026017,...,86,46,50,0.0,21.0,0.420000,7,5,2018-09-30 20:00:00,0
6652,242343,0,418370,1.7,26517,1,18.0,0,412026,412026019,...,86,50,36,0.0,8.0,0.222222,7,5,2018-09-30 20:00:00,0
6653,242344,0,418370,1.7,26517,1,18.0,0,412026,412026021,...,98,34,22,0.0,0.0,0.000000,7,5,2018-09-30 20:00:00,0
6654,242345,0,418370,1.7,26517,1,18.0,0,412026,412026022,...,98,36,25,0.0,0.0,0.000000,7,5,2018-09-30 20:00:00,0
6655,242346,0,418370,1.7,26517,1,18.0,0,412026,412026023,...,98,38,52,0.0,0.0,0.000000,7,5,2018-09-30 20:00:00,0
6656,242347,0,418370,1.7,26517,1,18.0,0,412026,412026024,...,98,40,80,0.0,8.0,0.100000,7,5,2018-09-30 20:00:00,0
6657,242348,0,418370,1.7,26517,1,18.0,0,412026,412026025,...,98,42,110,0.0,15.0,0.136364,7,5,2018-09-30 20:00:00,0
6658,242349,0,418370,1.7,26517,1,18.0,0,412026,412026026,...,98,44,118,0.0,24.0,0.203390,7,5,2018-09-30 20:00:00,0
6659,242350,0,418370,1.7,26517,1,18.0,0,412026,412026027,...,98,46,83,0.0,27.0,0.325301,7,5,2018-09-30 20:00:00,0
6660,242351,0,418370,1.7,26517,1,18.0,0,412026,412026029,...,98,50,43,0.0,11.0,0.255814,7,5,2018-09-30 20:00:00,0
6661,242352,0,418370,1.7,26517,1,18.0,0,412026,412026030,...,98,52,32,0.0,11.0,0.343750,7,5,2018-09-30 20:00:00,0

In [237]:
training.drop(["BESTELL_ID","ARTIKEL_ID","WG_ID","WGH1_ID","PREIS_LABEL_DESC"],axis=1,inplace=True)
test.drop(["BESTELL_ID","ARTIKEL_ID","WG_ID","WGH1_ID","PREIS_LABEL_DESC"],axis=1,inplace=True)

In [238]:
training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6662 entries, 0 to 6661
Data columns (total 33 columns):
OBS_ID                   6662 non-null int64
KANAL                    6662 non-null category
SHOW_ID                  6662 non-null int64
FAKTOR                   6662 non-null float64
WORDING_ID               6662 non-null int64
BRAND_FLG                6662 non-null int64
BRAND_ID                 6662 non-null float64
WDHL_FLG                 6662 non-null int64
SHOW_POSITION            6662 non-null int64
NEW_ITEM_FLG             6662 non-null int64
AIRING_23_FLG            6662 non-null int64
AIRING_456_FLG           6662 non-null int64
ADT_FLG                  6662 non-null category
WGH3_ID                  6662 non-null int64
PREIS_DISCOUNT           6662 non-null float64
ANZ_ARTIKEL_ID           6662 non-null int64
ONAIR_SEKUNDEN           6662 non-null int64
MENGE_CALL               6662 non-null float64
MENGE_ECOM               6662 non-null float64
WG_DESC                  6662 non-null category
WGH1_DESC                6662 non-null category
WGH3_DESC                6662 non-null category
PREISKLASSE_DESC         6662 non-null int32
FARBE                    6662 non-null category
GROESSE                  6662 non-null category
MENGE_FREI_SHOWBEGINN    6662 non-null int64
SOLD_OUT_FLG             6662 non-null float64
TOTAL_AMOUNT             6662 non-null float64
PERCENTAGE               6662 non-null float64
DAY_OF_WEEK              6662 non-null int64
Hour_of_the_day          6662 non-null category
SHOW_DATUM               6662 non-null datetime64[ns]
AIRING                   6662 non-null category
dtypes: category(9), datetime64[ns](1), float64(8), int32(1), int64(14)
memory usage: 1.3 MB

In [239]:
features = training[["PREIS_DISCOUNT","KANAL","FAKTOR","TOTAL_AMOUNT","WGH3_DESC",
                     "Hour_of_the_day","DAY_OF_WEEK","AIRING","ADT_FLG","ONAIR_SEKUNDEN","MENGE_FREI_SHOWBEGINN"]]
target = training[["SOLD_OUT_FLG"]].astype('category')

In [240]:
features.head()

,PREIS_DISCOUNT,KANAL,FAKTOR,TOTAL_AMOUNT,WGH3_DESC,Hour_of_the_day,DAY_OF_WEEK,AIRING,ADT_FLG,ONAIR_SEKUNDEN,MENGE_FREI_SHOWBEGINN
0,0.0,1,1.0,0.0,1,1,7,0,0,0,7
1,0.0,1,1.0,8.0,1,0,6,1,0,24,8
2,0.0,1,1.0,21.0,1,0,6,1,0,64,23
3,0.0,1,1.0,16.0,1,0,6,1,0,46,39
4,0.0,1,1.0,22.0,1,0,6,1,0,37,44

In [241]:
features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6662 entries, 0 to 6661
Data columns (total 11 columns):
PREIS_DISCOUNT           6662 non-null float64
KANAL                    6662 non-null category
FAKTOR                   6662 non-null float64
TOTAL_AMOUNT             6662 non-null float64
WGH3_DESC                6662 non-null category
Hour_of_the_day          6662 non-null category
DAY_OF_WEEK              6662 non-null int64
AIRING                   6662 non-null category
ADT_FLG                  6662 non-null category
ONAIR_SEKUNDEN           6662 non-null int64
MENGE_FREI_SHOWBEGINN    6662 non-null int64
dtypes: category(5), float64(3), int64(3)
memory usage: 397.5 KB

In [242]:
predict = test[["PREIS_DISCOUNT","KANAL","FAKTOR","TOTAL_AMOUNT",
              "WGH3_DESC","Hour_of_the_day","DAY_OF_WEEK","AIRING",
            "ADT_FLG","ONAIR_SEKUNDEN","MENGE_FREI_SHOWBEGINN"]]

In [243]:
predict.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1003 entries, 0 to 1002
Data columns (total 11 columns):
PREIS_DISCOUNT           1003 non-null float64
KANAL                    1003 non-null category
FAKTOR                   1003 non-null float64
TOTAL_AMOUNT             1003 non-null float64
WGH3_DESC                1003 non-null category
Hour_of_the_day          1003 non-null category
DAY_OF_WEEK              1003 non-null int64
AIRING                   1003 non-null category
ADT_FLG                  1003 non-null category
ONAIR_SEKUNDEN           1003 non-null int64
MENGE_FREI_SHOWBEGINN    1003 non-null int64
dtypes: category(5), float64(3), int64(3)
memory usage: 60.4 KB

In [244]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

#scaler = StandardScaler()
# Fit on the training data


X,X_test, y, y_test = train_test_split(features, target, test_size = 0.2, random_state = 42)
#scaler.fit(X)

#X = scaler.transform(X)
#X_test = scaler.transform(X_test)
#predict = scaler.transform(predict)

print(X.shape)
print(X_test.shape)
print(y.shape)
print(y_test.shape)

(5329, 11)
(1333, 11)
(5329, 1)
(1333, 1)

In [245]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier


modelDT = DecisionTreeClassifier(criterion="entropy")

modelDT.fit(X,y)

print(modelDT.score(X_test, y_test))
y_pred = modelDT.predict(X_test)


from sklearn.metrics import matthews_corrcoef

matthews_corrcoef(y_test, y_pred)

0.8792198049512379

0.6577595028313652

In [246]:
y_pred = modelDT.predict(predict)

In [247]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1003 entries, 0 to 1002
Data columns (total 33 columns):
OBS_ID                   1003 non-null int64
KANAL                    1003 non-null category
SHOW_ID                  1003 non-null int64
FAKTOR                   1003 non-null float64
WORDING_ID               1003 non-null int64
BRAND_FLG                1003 non-null int64
BRAND_ID                 1003 non-null float64
WDHL_FLG                 1003 non-null int64
SHOW_POSITION            1003 non-null int64
NEW_ITEM_FLG             1003 non-null int64
AIRING_23_FLG            1003 non-null int64
AIRING_456_FLG           1003 non-null int64
ADT_FLG                  1003 non-null category
WGH3_ID                  1003 non-null int64
PREIS_DISCOUNT           1003 non-null float64
ANZ_ARTIKEL_ID           1003 non-null int64
ONAIR_SEKUNDEN           1003 non-null int64
MENGE_CALL               1003 non-null float64
MENGE_ECOM               1003 non-null float64
WG_DESC                  1003 non-null category
WGH1_DESC                1003 non-null category
WGH3_DESC                1003 non-null category
PREISKLASSE_DESC         1003 non-null int32
FARBE                    1003 non-null category
GROESSE                  1003 non-null category
MENGE_FREI_SHOWBEGINN    1003 non-null int64
SOLD_OUT_FLG             0 non-null float64
TOTAL_AMOUNT             1003 non-null float64
PERCENTAGE               1003 non-null float64
DAY_OF_WEEK              1003 non-null int64
Hour_of_the_day          1003 non-null category
SHOW_DATUM               1003 non-null datetime64[ns]
AIRING                   1003 non-null category
dtypes: category(9), datetime64[ns](1), float64(8), int32(1), int64(14)
memory usage: 212.6 KB

In [248]:
print(sum(y_pred))

238.0

In [249]:
ha = test[["OBS_ID"]].copy()
test[["OBS_ID"]].head(10)

   OBS_ID
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10

In [250]:
z = test.drop("SOLD_OUT_FLG", axis =1).copy()

In [251]:

z["SOLD_OUT_FLG"] = y_pred
z["SOLD_OUT_FLG"]=z["SOLD_OUT_FLG"] .astype('int')

In [252]:
hahaha = z[["OBS_ID","SOLD_OUT_FLG"]]
hahaha.head()

hahaha.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1003 entries, 0 to 1002
Data columns (total 2 columns):
OBS_ID          1003 non-null int64
SOLD_OUT_FLG    1003 non-null int32
dtypes: int32(1), int64(1)
memory usage: 19.6 KB

In [253]:
hahaha.to_csv("result_new_DT_25.11.csv", encoding='cp1252',index=False,index_label=None)