In [127]:
import pandas as pd
import numpy as np


training_df = pd.read_csv("training.csv", encoding='cp1252')
test_df = pd.read_csv("test.csv", encoding='cp1252')

In [128]:


frames = [test_df, training_df]
result_df = pd.concat(frames)
len(result_df) - len(training_df)

1003

In [129]:
result_df.drop(['DIVISION_DESC_SORT','WGH4_DESC'],axis=1,inplace=True)

In [130]:
result_df["FAKTOR"] = result_df["FAKTOR"].str.replace(',', ".").astype(float)

In [131]:
result_df["KANAL"] = result_df["KANAL"].astype('category')
result_df.dtypes
result_df["KANAL"] = result_df["KANAL"].cat.codes
result_df["KANAL"] = result_df["KANAL"].astype('category')

In [132]:
result_df['BRAND_ID'].fillna(0,inplace=True)

In [133]:
# convert PREIS_DISCOUNT into float and fill NaN with zeros
result_df["PREIS_DISCOUNT"] = result_df["PREIS_DISCOUNT"].str.replace(',', ".").astype(float)
result_df['PREIS_DISCOUNT'] = result_df['PREIS_DISCOUNT'].fillna(0)

In [134]:
result_df.drop(['BEWERTUNG'],axis=1,inplace=True)

In [135]:
result_df['MENGE_ECOM']=result_df['MENGE_ECOM'].fillna(3)

In [136]:
# Own model to simulate NA for Menge_Call & Menge_ECOM!!!

result_df['MENGE_CALL'].isna().sum()
result_df['MENGE_CALL'].describe()

count    6113.000000
mean       25.130541
std        23.145149
min         7.000000
25%        11.000000
50%        18.000000
75%        31.000000
max       386.000000
Name: MENGE_CALL, dtype: float64

In [137]:
#result_df_df['TOTAL_AMOUNT']=result['MENGE_CALL']+result['MENGE_ECOM']
#result_df['PERCENTAGE']=result['TOTAL_AMOUNT']/result['MENGE_FREI_SHOWBEGINN']

In [138]:
result_df["WG_DESC"] = result_df["WG_DESC"].astype('category')
result_df["WG_DESC"] = result_df["WG_DESC"].cat.codes
result_df["WG_DESC"] = result_df["WG_DESC"].astype('category')

In [139]:
result_df["WGH1_DESC"] = result_df["WGH1_DESC"].astype('category')
result_df["WGH1_DESC"] = result_df["WGH1_DESC"].cat.codes
result_df["WGH1_DESC"] = result_df["WGH1_DESC"].astype('category')

In [140]:
result_df["WGH3_DESC"] = result_df["WGH3_DESC"].astype('category')
result_df["WGH3_DESC"] = result_df["WGH3_DESC"].cat.codes
result_df["WGH3_DESC"] = result_df["WGH3_DESC"].astype('category')

In [141]:
result_df['PREISKLASSE_DESC']=result_df['PREISKLASSE_DESC'].str[:2]
result_df['PREISKLASSE_DESC']=result_df['PREISKLASSE_DESC'].astype('int')

In [142]:
result_df['PREIS_LABEL_DESC'] = result_df['PREIS_LABEL_DESC'].fillna(0)
result_df["PREIS_LABEL_DESC"]= result_df["PREIS_LABEL_DESC"].astype('category')
result_df['PREIS_LABEL_DESC'] = result_df['PREIS_LABEL_DESC'].cat.codes
result_df["PREIS_LABEL_DESC"]= result_df["PREIS_LABEL_DESC"].astype('category')
result_df["PREIS_LABEL_DESC"]

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      2
11      2
12      2
13      2
14      2
15      0
16      0
17      0
18      0
19      0
20      0
21      3
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
6632    0
6633    0
6634    0
6635    0
6636    0
6637    3
6638    3
6639    3
6640    3
6641    3
6642    3
6643    3
6644    3
6645    3
6646    3
6647    3
6648    3
6649    3
6650    3
6651    3
6652    3
6653    3
6654    3
6655    3
6656    3
6657    3
6658    3
6659    3
6660    3
6661    3
Name: PREIS_LABEL_DESC, Length: 7665, dtype: category
Categories (6, int64): [0, 1, 2, 3, 4, 5]

In [143]:
result_df["FARBE"] = result_df["FARBE"].astype('category')
result_df["FARBE"] = result_df["FARBE"].cat.codes
result_df["FARBE"]= result_df["FARBE"].astype('category')
result_df["FARBE"]

0        86
1        86
2        54
3        86
4        98
5        98
6        13
7        13
8        13
9        13
10        1
11       61
12       61
13       86
14       86
15       79
16       79
17       79
18       79
19       61
20        7
21      102
22       90
23        5
24       86
25       94
26       34
27       54
28       54
29       90
       ...
6632      7
6633      7
6634      7
6635      7
6636      7
6637      3
6638      3
6639      3
6640      3
6641      3
6642      3
6643      3
6644      3
6645      3
6646     86
6647     86
6648     86
6649     86
6650     86
6651     86
6652     86
6653     98
6654     98
6655     98
6656     98
6657     98
6658     98
6659     98
6660     98
6661     98
Name: FARBE, Length: 7665, dtype: category
Categories (105, int64): [0, 1, 2, 3, ..., 101, 102, 103, 104]

In [144]:
result_df['SHOW_DATUM']=pd.to_datetime(result_df['SHOW_DATUM'])
result_df['DAY_OF_WEEK'] = result_df['SHOW_DATUM'].dt.day_name()
result_df["DAY_OF_WEEK"] = result_df["DAY_OF_WEEK"].astype('category')
result_df["DAY_OF_WEEK"] = result_df["DAY_OF_WEEK"].cat.codes
result_df["DAY_OF_WEEK"] = result_df["DAY_OF_WEEK"].astype('category')

def from_hour_to_time_slot(x):
    if 7 <= x < 9:
        return "MORNING TIME"
    elif 9 <= x <17:
        return "DAYTIME"
    elif 17 <= x < 20:
        return "EARLY PRIME TIME"
    elif 20 <= x < 23:
        return "PRIME TIME"
    elif 1 <= x < 7:
        return "LATE NIGHT"
    else:
        return "LATE PRIME TIME"

result_df['Hour_of_the_day'] = result_df['SHOW_DATUM'].dt.hour
result_df.Hour_of_the_day = result_df.Hour_of_the_day.map(from_hour_to_time_slot)
result_df.Hour_of_the_day.unique()
result_df["Hour_of_the_day"] = result_df["Hour_of_the_day"].astype('category')
result_df["Hour_of_the_day"] = result_df["Hour_of_the_day"].cat.codes
result_df["Hour_of_the_day"] = result_df["Hour_of_the_day"].astype('category')

result_df.drop(['SHOW_DATUM'],axis=1,inplace=True)
result_df.drop(['WGH4_ID'],axis=1,inplace=True)

In [146]:

# DATE and WEEKDAY
result_df['SHOW_DATUM']=pd.to_datetime(training_df['SHOW_DATUM'])
result_df['DAY_OF_WEEK'] = result_df['SHOW_DATUM'].dt.day_name()
result_df["DAY_OF_WEEK"].replace(['Monday'],1,inplace=True)
result_df["DAY_OF_WEEK"].replace(['Tuesday'],2,inplace=True)
result_df["DAY_OF_WEEK"].replace(['Wednesday'],3,inplace=True)
result_df["DAY_OF_WEEK"].replace(['Thursday'],4,inplace=True)
result_df["DAY_OF_WEEK"].replace(['Friday'],5,inplace=True)
result_df["DAY_OF_WEEK"].replace(['Saturday'],6,inplace=True)
result_df["DAY_OF_WEEK"].replace(['Sunday'],7,inplace=True)

In [147]:
# convert GROESSE into category variable, fill NaN with zero and merge certain data

result_df['GROESSE'] = result_df['GROESSE'].fillna(0)
result_df['GROESSE'].replace('ONESIZE','ONE SIZE',inplace=True)
result_df['GROESSE'].replace('A',0,inplace=True)
result_df['GROESSE'].replace('B',0,inplace=True)
result_df["GROESSE"] = result_df["GROESSE"].astype('category')
result_df['GROESSE'] = result_df['GROESSE'].cat.codes

In [148]:
result_df['NEW_ITEM_FLG'].fillna(0,inplace=True)
result_df['AIRING_23_FLG'].fillna(0,inplace=True)
result_df['AIRING_456_FLG'].fillna(0,inplace=True)
result_df['AIRING_23_FLG'].replace(1,2,inplace=True)
result_df['AIRING_456_FLG'].replace(1,4,inplace=True)
result_df['AIRING']=result_df['NEW_ITEM_FLG']+result_df['AIRING_23_FLG']+result_df['AIRING_456_FLG']


result_df["AIRING"] = result_df["AIRING"].astype('category')
result_df["AIRING"] = result_df["AIRING"].cat.codes
result_df["AIRING"] = result_df["AIRING"].astype('category')



result_df["ADT_FLG"] = result_df["ADT_FLG"].astype('category')
result_df["ADT_FLG"] = result_df["ADT_FLG"].cat.codes
result_df["ADT_FLG"] = result_df["ADT_FLG"].astype('category')

In [149]:
training_for_menge_call = result_df[result_df["MENGE_CALL"].isna()==False].copy()
test_for_menge_call = result_df[result_df["MENGE_CALL"].isna()==True].copy()

In [150]:
training_for_menge_call.drop(["BESTELL_ID","ARTIKEL_ID","WG_ID","WGH1_ID","PREIS_LABEL_DESC"],axis=1,inplace=True)
test_for_menge_call.drop(["BESTELL_ID","ARTIKEL_ID","WG_ID","WGH1_ID","PREIS_LABEL_DESC"],axis=1,inplace=True)

In [151]:
features = training_for_menge_call[["PREIS_DISCOUNT","KANAL","FAKTOR","WGH3_DESC",
                     "Hour_of_the_day","DAY_OF_WEEK","AIRING","ADT_FLG","ONAIR_SEKUNDEN",
                     "MENGE_FREI_SHOWBEGINN","GROESSE","FARBE","MENGE_ECOM"]]
target= training_for_menge_call[["MENGE_CALL"]].astype('float')

In [152]:
predict= test_for_menge_call[["PREIS_DISCOUNT","KANAL","FAKTOR","WGH3_DESC",
                     "Hour_of_the_day","DAY_OF_WEEK","AIRING","ADT_FLG","ONAIR_SEKUNDEN",
                     "MENGE_FREI_SHOWBEGINN","GROESSE","FARBE","MENGE_ECOM"]]

In [153]:
target.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6113 entries, 0 to 6661
Data columns (total 1 columns):
MENGE_CALL    6113 non-null float64
dtypes: float64(1)
memory usage: 95.5 KB

In [154]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# Fit on the training data


X,X_test, y, y_test = train_test_split(features, target, test_size = 0.3, random_state = 42)
scaler.fit(X)

X = scaler.transform(X)
X_test = scaler.transform(X_test)
y_pred= scaler.transform(predict)

print(X.shape)
print(X_test.shape)
print(y.shape)
print(y_test.shape)

(4279, 13)
(1834, 13)
(4279, 1)
(1834, 1)

In [155]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()

LR.fit(X, y)

print(LR.score(X_test, y_test))
print(LR.score(X, y)) 
# shows how many percent of the dataset was predicted correctly

y_pred = LR.predict(X_test)

from sklearn.metrics import matthews_corrcoef

matthews_corrcoef(y_test, y_pred)

C:\Users\Irina\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.061613958560523444
0.09488198177144193

0.021619610396478785

In [156]:
y_predictionLR = LR.predict(predict)

In [157]:
print(sum(y_predictionLR))

96078.0

In [158]:
z = test_for_menge_call.drop("MENGE_CALL", axis =1).copy()

In [159]:
z["MENGE_CALL_new"] = y_predictionLR
z["MENGE_CALL_new"]=z["MENGE_CALL_new"] .astype('int')

In [160]:
result_menge_call =z[["OBS_ID","MENGE_CALL_new"]]
result_menge_call.describe()

              OBS_ID  MENGE_CALL_new
count    1552.000000     1552.000000
mean   208283.788015       61.905928
std     79953.729314        6.557796
min        11.000000       45.000000
25%    236579.750000       52.000000
50%    238483.500000       64.000000
75%    240727.000000       66.000000
max    242346.000000      108.000000

In [169]:
test_for_menge_call.describe()

,OBS_ID,SHOW_ID,FAKTOR,WORDING_ID,BRAND_FLG,BRAND_ID,WDHL_FLG,SHOW_POSITION,NEW_ITEM_FLG,AIRING_23_FLG,...,PREIS_DISCOUNT,ANZ_ARTIKEL_ID,ONAIR_SEKUNDEN,MENGE_CALL,MENGE_ECOM,PREISKLASSE_DESC,GROESSE,MENGE_FREI_SHOWBEGINN,SOLD_OUT_FLG,DAY_OF_WEEK
count,1552.000000,1552.000000,1552.000000,1552.000000,1552.000000,1552.000000,1552.000000,1552.000000,1552.000000,1552.000000,...,1552.000000,1552.000000,1552.000000,0.0,1552.000000,1552.000000,1552.000000,1552.000000,1352.000000,1552.000000
mean,208283.788015,389875.379510,1.326224,28042.195876,0.670747,10.788660,0.036082,6.981314,0.456830,0.715206,...,11.473499,219.308634,7.117268,NaN,1.088273,4.746778,28.322165,37.931701,0.089497,4.109536
std,79953.729314,18850.313689,0.341747,5188.451747,0.470093,8.465148,0.186555,4.674199,0.498293,0.958898,...,15.002896,72.679521,6.780555,NaN,1.580202,1.445214,8.130739,53.292986,0.285565,1.890861
min,11.000000,370117.000000,0.900000,11945.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,73.000000,0.000000,NaN,0.000000,1.000000,0.000000,7.000000,0.000000,1.000000
25%,236579.750000,374355.000000,1.100000,24475.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,...,0.000000,163.000000,3.000000,NaN,0.000000,3.000000,24.000000,12.000000,0.000000,3.000000
50%,238483.500000,379111.000000,1.200000,26517.000000,1.000000,12.000000,0.000000,6.000000,0.000000,0.000000,...,9.990000,203.000000,5.000000,NaN,0.000000,5.000000,26.000000,23.000000,0.000000,4.000000
75%,240727.000000,414698.000000,1.400000,34145.750000,1.000000,20.000000,0.000000,10.000000,1.000000,2.000000,...,20.000000,274.000000,9.000000,NaN,3.000000,6.000000,36.000000,44.000000,0.000000,5.000000
max,242346.000000,418586.000000,2.100000,35272.000000,1.000000,21.000000,1.000000,36.000000,1.000000,2.000000,...,80.010000,428.000000,78.000000,NaN,11.000000,11.000000,45.000000,934.000000,1.000000,7.000000

In [178]:
training_df_new=result_menge_call.merge(test_for_menge_call,on="OBS_ID")